.extralLinks_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.btn {
  flex: 1;
  min-width: 230px;
  background-color: #e6e6e6 !important;
  color: #656565 !important;
  font-size: 16px;
  font-weight: 300 !important;
  text-transform: none !important;
}
@media screen and (max-width: 720px) {
  .extralLinks_wrapper {
    flex-direction: column;
  }
}
